.encabezado{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 26px;
	color:white;
	padding: 2px;
	text-shadow: 2px 2px black;
}

.encabeza2{
    font-size: 25px;
	font-family: 'Spicy Rice';
	color:white;
	text-align:right;
	background: rgba(255,99,71);
}

.encabeza3{
	font-family:Calibri light;
	font-size: 26px;
	background-color: red;
	color:white;
	padding: 2px;
	text-shadow: 2px 2px black;
}

.Parrafo{
	font-family: Calibri;
	color:grey;
	font-size: 22px;
	text-shadow: none;
	text-align: justify;
}

.encabeza2PS4{
	overflow:auto;
	background-color: DodgerBlue;
	border-radius: 15px;
	color:white;
	padding:10px;
	
}
.encabeza3PS4{
	border: 3px solid DodgerBlue;
	border-radius: 15px;
	color:Tomato;
	padding:10px;
	overflow:auto;
	margin:10px;
}

.contenedor {
    float: left;
    width: 32%;
    height: 400px;
    padding: 4px;
    border-right: 2px solid Tomato;
}

.contene2 {
    float: left;
    width: 30%;
    padding: 5px;
    clear: both;
}

.contenedorfinal {
    float: left;
    width: 32%;
    padding: 4px;
    border-right: 2px solid Tomato;
}
.clearfix {
    overflow: auto;
    clear: both;
}

.active {
    background-color: red;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
	bottom: 5px;
    left: 16px;
	font-size:26px;
}

.TIT{
	width:50%;
	height:100%;
	float:left;
	clear:both;
	
}

.TIText{
	position:absolute;
	width: 50%;
	float:left;
	top:267px;
}


.row{
    display: table;
	background-color:Tomato;
	width: 100%;
	color:white;
	font-family:cooper;
	font-size:15px;
    clear: both;
}

.contenedormini{
	float: left;
    width: 30%;
    padding: 5px;
}

.MarcoPrin{
	margin:0px auto;
	width: 95%;
	position: relative;
	padding: 5px;
}
.TituloImg{
	position:absolute;
	margin:0px auto;
	width: 100%;
	background: rgba(255,255,255,0.5);
	color: white;
	bottom: 0%;

}

.Pos{
    font-family: Helvetica;
    text-align: center;
    color: white;
    background-color: red;

}

.TxTb{
	float: right;
	font-family: Helvetica;
	text-align: justify;;
}


.TituloTb{
	text-align: center;
	border:1px solid darkred;
}

.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
	height: 400px;

}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 30s infinite;
	animation-timing-function:ease-in;

}

.slider li{
	width: 100%;
	list-style: none;

}
.slider li a{
	color:white;
	text-decoration: none;
}

.slider li a:hover{
	text-decoration: underline;
	color: Tomato;
}

.slider img{
	width: 100%;
}

.slider h1{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 26px;
	text-align: center;
	margin:0px auto;
	color:white;
	text-shadow: 2px 2px red;
	background: rgba(255, 99, 71,0.3);
	position: relative;
	bottom: 10%;	
}

@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

.TabladeLanzamientos{
	width: 35%;
	margin-left: 0px left;
	float:right;
	padding: 3px;
}

.TabladeLanzamientos img{
	width: 20%;
	float:left;
}

.TabladeLanzamientos th{
	background-color: black;
	text-shadow: none;
	padding: 10px;
}


.TabladeLanzamientos table{
    border: 2px solid darkred;
    border-radius: 5px;
    border-collapse:collapse;
    width: 100%;
    font-family: Helvetica;
    color:white;
    font-size: 14px;
}

.TabladeLanzamientos tr{
	background-color: Tomato;
	padding: 10px;
}

.TabladeLanzamientos tr:nth-child(even){background-color:red;}

.Tabladelanzamientos th{
    text-align: left;
    padding: 10px;
}

.Tabladelanzamientos td{
    text-align: left;
    padding: 10px;
}

.TxTl{
	float: right;
	font-family: Calibri;
	text-align: right;
}

.contenedor video {
    width: 100%;
    height: auto;
}


.Noticia img{
	float: right;
	width: 60%;
	height: 300px;
	padding-left: 20px;
}

.mainNot{
	width: 960px;
	margin:0px auto;
}

.Noticia h1{
	font-family: Calibri light;
	text-align: left;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px red;
	background-color: tomato;
	border-color: black;
}

.Noticia h2{
	font-family: Calibri light;
	font-size: 22px;
	color: black;
	text-shadow: 1px 1px black;
}

.Noticia p{
	font-family: Calibri;
	font-size: 20px;
	text-shadow: none;
	color:black;
	text-align: justify;
	padding: 5px;
}

.Analisis img{
	width: 100%;
	height: 400px;
	padding: 10px;
	position: relative;
}

.Analisis h1{
	padding: 15px;
	width: 95%;
	height: 50px;
	position: absolute;
	bottom: 50px;
	color: white;
	text-shadow: 2px 2px red;
}

.Analisis h2{
	text-align: center;
	text-shadow: none;
	color: red;
}

.Analisis h3{
	font-size: 22px;
	font-family: calibri light;
	text-align: justify;
	text-shadow: none;
	color:black;
}

.Analisis p{
	text-shadow: none;
	font-size: 20px;
	font-family: calibri light;
	text-align: justify;
}


.ParrafoInter h2{
	text-shadow: none;
	font-size: 22px;
	font-family: calibri light;
	text-align: left;
}

.ParrafoInter img{
	width: 30%;
	height: 200px;
	float: right;
	position: relative;
}

.TituloAnalisis{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 30px;
}

.TituloAnalisis h1{
	color: white;
	text-shadow: 2px 2px red;
	text-align: center;
}