.encabeza2{
	font-family:Times;
	font-size: 22px;
	color:white;
	opacity:1;
}
.encabeza3{
	font-family: 'Spicy Rice';
	font-size:22px;
	color:Tomato;
	padding:15px;
}

.encabeza2PS4{
	overflow:auto;
	background-color: DodgerBlue;
	border-radius: 15px;
	color:white;
	padding:10px;
	
}
.encabeza3PS4{
	border: 3px solid DodgerBlue;
	border-radius: 15px;
	color:Tomato;
	padding:10px;
	overflow:auto;
	margin:10px;
}

.contenedorTit {
    float: left;
    width: 66%;
    padding: 5px;
}

div.ex2 {
    width: 100%;
    padding: 25px;
    background-color: Tomato;
	color:white;
}
.contenedor {
    float: left;
    width: 32%;
    padding: 5px;
}


.clearfix {
    overflow: auto;
    clear: both;
}

.active {
    background-color: red;
}
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown{
	position:relative;
	display:inline-block;
}

.dropdown-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
	bottom: 5px;
    left: 16px;
	font-size:26px;
}

.TIT{
	width:50%;
	height:100%;
	float:left;
	clear:both;
	
}

.TIText{
	position:absolute;
	width: 50%;
	float:left;
	top:267px;
}


.Parrafo{
    font-size: 25px;
	font-family: 'Spicy Rice';
	color:white;
	text-align:right;
	background: rgba(255,99,71);
}

.MarPar{
	background: linear-gradient(White,AntiqueWhite);
}

.row{
    content: "";
    display: table;
	background-color:Tomato;
	color:white;
	font-family:cooper;
	font-size:15px;
    clear: both;
}

.contenedormini{
	float: left;
    width: 30%;
    padding: 5px;
}

.MarcoPrin{
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:1%;
	content: "";
    clear: both;
    display: table;
}

 .Pos{
    font-family: Cooper;
    text-align: justify;
    color: white;
}