.encabezado{
	font-family:Calibri light;
	font-size: 26px;
	color:white;
	padding: 2px;
	text-shadow: 2px 2px black;
}

.encabeza2{
    font-size: 25px;
	font-family: 'Spicy Rice';
	color:white;
	text-align:right;
	background: rgba(255,99,71);
}

.encabeza3{
	font-family:Calibri light;
	font-size: 26px;
	background-color: red;
	color:white;
	padding: 2px;
	text-shadow: 2px 2px black;
}

.Parrafo{
	font-family: calibri light;
	text-align: justify;
}

.encabeza2PS4{
	overflow:auto;
	background-color: DodgerBlue;
	border-radius: 15px;
	color:white;
	padding:10px;
	
}
.encabeza3PS4{
	border: 3px solid DodgerBlue;
	border-radius: 15px;
	color:Tomato;
	padding:10px;
	overflow:auto;
	margin:10px;
}

.contenedor {
    float: left;
    width: 32%;
    padding: 4px;
    border-bottom: 2px solid Tomato;
}

.contene2 {
    float: left;
    width: 30%;
    padding: 5px;
    clear: both;
}

.clearfix {
    overflow: auto;
    clear: both;
}

.active {
    background-color: red;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
	bottom: 5px;
    left: 16px;
	font-size:26px;
}

.TIT{
	width:50%;
	height:100%;
	float:left;
	clear:both;
	
}

.TIText{
	position:absolute;
	width: 50%;
	float:left;
	top:267px;
}

.MarPar{
	background: linear-gradient(White,AntiqueWhite);
}

.row{
    display: table;
	background-color:Tomato;
	color:white;
	font-family:cooper;
	font-size:15px;
    clear: both;
}

.contenedormini{
	float: left;
    width: 30%;
    padding: 5px;
}

.MarcoPrin{
	margin:0px auto;
	width: 95%;
	position: relative;
	padding: 5px;
}
.TituloImg{
	position:absolute;
	margin:0px auto;
	width: 100%;
	background: rgba(255,255,255,0.5);
	color: white;
	bottom: 0%;

}

.Pos{
    font-family: Helvetica;
    text-align: center;
    color: white;
    background-color: red;

}

.TxTb{
	float: right;
	font-family: Helvetica;
	text-align: justify;;
}

.TxTl{
	float: right;
	font-family: Calibri;
	text-align: right;
}

.TituloTb{
	text-align: center;
	border:1px solid darkred;
}

