@font-face
{
   font-family: Mayan;
   src:url(Fuentes\mayan.otf) format("opentype")
}

body{
	background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
	font-family: 'Spicy Rice' ;
	font-size: 18px;
	float:left;
}

li a {
    display: inline-block;
    color: Tomato;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: white;
}

a:active{
	text-decoration:underline;
}

a:hover {
    text-decoration: underline;
}


input[type=text] {
    width: 28%;
    box-sizing: border-box;
    border: 2px solid tomato;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 14px 16px;
	float:right;
}


table{
    border-collapse:collapse;
    width: 100%;
}

th, td{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color:darkred}

th{
    background-color:red;
    color:white;
}



