

body{
	background-color: white;
}

a {
    text-decoration: none;
    color: white;
}



input[type=text] {
    width: 28%;
    box-sizing: border-box;
    border: 2px solid tomato;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 14px 16px;
	float:right;
}


table{
    border: 2px solid darkred;
    border-radius: 5px;
    border-collapse:collapse;
    width: 100%;
    font-family: Helvetica;
    color:white;
    font-size: 14px;
}

th, td{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color:Tomato;}

tr{background-color: Red; overflow: auto;}

th{
    background-color:Red;
}




