@font-face
{
   font-family: Mayan;
   src:url(Fuentes\mayan.otf) format("opentype")
}
body{
		background-color:black;
}

.encabeza2{
	
	background-color: OrangeRed;
	border-radius: 15px;
	color:white;
	padding:10px;
}
.encabeza3{
	border: 3px solid Tomato;
	border-radius: 15px;
	color:Tomato;
	padding:10px;
	}

#id{
	border: 3px solid Tomato;
	color:black;
	padding:10px;
	}
#Titulo{
	border-left: 6px solid red;
    background-color: Tomato;
	font-family:Agency FB;
	font-size:60 px; 
	color:white;
}

body{
	background-color: white;
}
