#id{
	border: 3px solid Tomato;
	color:black;
	padding:10px;
}

#Titulo{
	border-left: 6px solid darkred;
    background-color: red;
	font-family:Agency FB;
	font-size:50 px; 
	color:white;
	margin: 5px;
	overflow:auto;
}

#TituloPS4{
	border-left: 6px solid Blue;
    background-color:DodgerBlue;
	font-family:Agency FB;
	font-size:50 px; 
	color:white;
	margin: 5px;
	overflow:auto;
}

#ParrafoP{
	background-color: white;
	font-family: small-caps;
	border: 3px solid Tomato;
	color:red;
	
}

#ParrafoP:hover{
	background-color:darkred;
}

#Marco{
	border-left: 6px solid darkred;
    background-color: darkred;
}